server:
  servlet:
    context-path: /api/v1

spring:
  main:
    banner-mode: console
  application:
    name: ewallet-pix-service
  jpa:
    open-in-view: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none   # create | create-drop | update | none
    properties:
      hibernate.connection.pool_size: 10
      hibernate:
        jdbc:
          time_zone: UTC
          dialect: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: jdbc:postgresql://localhost:5432/ewallet_pix_db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: admin
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000
      connection-timeout: 20000
      pool-name: EwalletPixHikariCP


