spring:
  application:
    name: ewallet-pix-service
  jpa:
    open-in-view: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update   # create | create-drop | update | none
      show-sql: true
      properties:
        hibernate:
          format_sql: true
  datasource:
    url: jdbc:postgresql://localhost:5432/ewallet_pix_db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: admin
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000
      connection-timeout: 20000
      pool-name: EwalletPixHikariCP

server:
  servlet:
    context-path: /api/v1