name: CI Advanced - Java + Maven + Docker + Trivy

on:
  push:
    branches: ["main", "master"]
    tags:
      - "v*.*.*"
  pull_request:
    branches: ["main", "master"]

permissions:
  contents: read
  security-events: write
  pull-requests: write

jobs:

  build-setup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

  docker-build:
    runs-on: ubuntu-latest
    needs: build-setup

    services:
      postgres:
        image: postgres:16
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: ewallet_pix_db
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: admin
        options: >-
          --health-cmd="pg_isready -U test -d ewallet_pix_db"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=10

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract version from tag
        id: tag
        run: |
          RAW_TAG=${GITHUB_REF#refs/tags/}
          VERSION=${RAW_TAG#v}
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image
        run: |
          IMAGE="${{ secrets.DOCKERHUB_USERNAME }}/ewallet-pix-service"
          VERSION="${{ steps.tag.outputs.version }}"

          docker build -t $IMAGE:$VERSION -t $IMAGE:latest .

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ secrets.DOCKERHUB_USERNAME }}/ewallet-pix-service:latest"
          format: sarif
          output: trivy-results.sarif

      - name: Upload Security Scan
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: trivy-results.sarif

      - name: Push Docker Image
        run: |
          IMAGE="${{ secrets.DOCKERHUB_USERNAME }}/ewallet-pix-service"
          VERSION="${{ steps.tag.outputs.version }}"

          docker push $IMAGE:$VERSION
          docker push $IMAGE:latest
